<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
        <link rel="stylesheet" href="/stylesheets/application.css">
        <link rel="import" href="/components/supersonic/components/import.html">

        <script src="http://localhost/cordova.js"></script>
        <script src="/components/steroids-js/steroids.js"></script>
        <script src="/components/angular/angular.js"></script>
        <script src="/components/supersonic/supersonic.js"></script>
        <script src="/components/webcomponentsjs/webcomponents.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>

        <script src="/scripts/application.js"></script>

        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
    </head>
    <body ng-app="SteroidsApplication">
        <div class="padding" ng-controller="SilenceController" ng-init="getMode()">
            <super-navbar>
            <super-navbar-title ng-bind="navbarTitle">
            </super-navbar-title>
            </super-navbar>
	    <label class="item item-input item-toggle">
	      <span class="input-label">Silence Mode</span>
	      <span class="toggle">
		<input type="checkbox" class="toggle" ng-model="data.isOn" ng-model-options="{ getterSetter: true}">
		<div class="track">
		  <div class="handle"></div>
		</div>
	      </span>
	    </label>
	    <label ng-if="data.isOn()" class="item item-input">
	      <span class="input-label">
		Silent Until:
	      </span>
	      <input type="time" processdate ng-model="data.expiration_time">
	    </label>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Duration
                    </div>
                    <select ng-model="data.duration">
                        <option>30 Minutes</option>
                        <option selected>1 Hour</option>
                        <option>2 Hours</option>
                        <option>3 Hours</option>
                    </select>
                </label>
            </div>

            <div class="padding">
                <h5>Notify your contacts <i class="icon super-android-contacts"></i> :</h5>

            </div>

            <div class="list">
                <a class="item item-icon-left" href="#" ng-repeat="person in contacts">
                    <i class="icon super-android-notifications"></i>
                        {{person}}
                        <span class="badge">
                        <label class="toggle">
                            <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                        </label>
                        </span>
                        <span class="badge">
                            <i class="icon super-android-close" id="removeContact" ng-click="removeContact(person)"></i>
                        </span>
                </a>
            </div>

            <super-navigate location="contacts.html">
                <button class="button button-full button-positive">
                    Add New Contact
                </button>
            </super-navigate>

            <button class="button button-full button-positive" ng-click="update(); popView();">
                Go Silent
            </button>

        </div>
    </body>
</html>
